[flake8]
basepython = python3.8
ignore = E203, E402, E741, W503
enable-extensions = M511
exclude =
    venv,
    .venv,
    .git,
    .github,
    .tox,
    __pycache__,
    .pytest_cache
max-line-length = 120
