reportportal-client
robotframework>=4
robotframework-debuglibrary
robotframework-seleniumlibrary
robotframework-jupyterlibrary>=0.3.1
ipython
openshift
pre-commit
pytest
pytest-logger
pyyaml
pygments
requests
Jinja2
flake8
mypy
kubernetes
validators
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
